:root {
  --primary-color: #00ccff;
  --secondary-color: #101010;
  --hover-color: #0077ff;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2 {
  color: var(--primary-color);
}
